<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<th:block th:include="~{head}"></th:block>
</head>
<body>
	<header>
		<th:block th:include="~{navbar}"></th:block>
	</header>
	<main class="mt-3">
		<h1 class="text-center text-dark">Регистрация</h1>
		<hr class="hr-2 bg-dark w-25">
		<form class="form w-25 mx-auto" th:action="@{/customers/register}"
			th:method="post" th:object="${customerBinding}">
			<input type="hidden" name="_csrf"
				value="5b20d0a4-4120-42a9-b849-9753f99a801a">
			<div class="form-group">
				<label for="name" class="font-weight-bold">Имя</label>
				<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"style="color: red"></span>
				<input type="text" class="form-control" id="name" placeholder="Имя..." name="name" th:value="*{name}">
			</div>
			<div class="form-group">
				<label for="username" class="font-weight-bold">Логин</label>
				<span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"style="color: red"></span>
				<input type="text" class="form-control" id="username"
					placeholder="Логин..." name="username" th:value="*{username}">
			</div>
			<div class="form-group">
				<label for="password" class="font-weight-bold">Пароль</label>
				<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"style="color: red"></span>
				<input type="Пароль" class="form-control" id="password"
					placeholder="Пароль..." name="password" th:value="*{password}">
			</div>
			<div class="form-group">
				<label for="confirmPassword" class="font-weight-bold">Подтвердить пароль</label>
				<span th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"style="color: red"></span>
				<input type="password" class="form-control" id="confirmPassword" placeholder="Подтвердить пароль..."
					name="confirmPassword" th:value="*{confirmPassword}">
			</div>

			<hr class="hr-2 bg-dark">
			<div class="button-holder d-flex justify-content-center">
				<button type="submit" class="btn btn-dark">Создать</button>
			</div>
		</form>
	</main>
	<footer>
		<th:block th:include="~{footer}"></th:block>
	</footer>
</body>
</html>